# Virtual Environment
.venv/
venv/
env/
ENV/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environment & Secrets
.env
.env.local

# Persistent Database & Uploaded Data
data/vector_db/
data/uploaded_docs/
data/test_vector_db/
*.npy
*.sqlite3

# OS Specific
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.vscode/
.idea/
*.swp
